body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    /* background-color: #1212138b; */

}

section {
    text-align: center;

}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 800;
    padding: 0;
}

h2 {
    font-size: 30px;
}

.first-section {
    margin: auto;
    color: rgb(255, 255, 253);
    width: 45%;
    font-size: 18px;
    padding: 20px;


}

.top-banner {
    background-image: url(images/poor2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}

.title {
    padding: 10px;
}

.button {
    text-decoration: none;
    background-color: #FF5959;
    color: aliceblue;
    padding: 12px 25px;
    border-radius: 10PX;
    font-weight: 500;

}

.button:hover {
    background-color: rgb(23, 154, 241);
}

.money {
    display: flex;
    margin: auto;
    width: 500px;
    text-align: center;
    padding-bottom: 20px;
    /* background-color: blue; */

}

.money p {
    padding: 20px;
    background-color: rgba(242, 235, 229, 0.929);
    border-radius: 5px;
    margin: 20px 10px 10px 10px;
}

.secend-title {
    margin-top: 30px;
    padding: 30px;
}

.secend-title p {
    width: 40%;
    padding: 10px;
    margin: auto;
}

.secend-money {
    color: red;
    border: 2px solid red;
    background-color: aqua;
}

.money p:hover {
    background-color: #f47f7f;
    /* background-color: rgb(23, 154, 241); */

}


input {
    border: none;
    text-align: center;
    background-color: rgb(251, 249, 247);
    padding: 10px;
    resize: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
}

.horizontalrow {
    width: 40%;
    margin: auto;
    padding-bottom: 20px;
}

.donate-plan p {
    width: 40%;
    margin: auto;
}

.donate-plan {
    margin-top: 70px;
}

.plan-section {
    width: 90%;
    margin-left: 4%;
    display: flex;
}

.card-section {
    width: 80%;
    margin-left: 20px;
    margin: 50px 20px;
    padding: 20px 30px;
    border-radius: 20px;
}

.one {
    background-color: #d7eaec;
}

.one:hover {
    background-color: #4F9DA6;
}

.two {
    background-color: rgb(235, 180, 233);
}

.two:hover {
    background-color: rgb(233, 70, 227);
}

.three {
    background-color: #e47f7f;
}

.three:hover {
    background-color: #FF5959;
}

.card-section img {
    width: 50%;
}

.card-section p {
    width: 100%;
    font-size: 16px;
    color: #424242;
}

.update p {
    width: 50%;
    margin: auto;
}

.subscribe-background {
    padding: 10px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.subscribe {
    padding: 10px 30px;
    border-radius: 15px;
    background-color: wheat;
    margin-top: 30px;
    height: 200px;

}

.form-email {
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #cad3db;
    width: 200px;
    font-size: 16px;
    color: #0f121f;
}

.form-button {
    background: #3d9fff;
    width: 150px;
    border: none;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}